body {
    font-family: 'Ikaros Sans', '나눔스퀘어OTF';
    margin: 0;
}
#signupConfirmMessage {
    text-align: center;
    font-size: 40px;
}
#backToLoginPage {
    width: 250px;
    height: 40px;
    border-radius: 0;
    font-family: '나눔스퀘어 OTF';
    font-size: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
}